In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv("D://great learning//supervised//loan prediction//train_u6lujuX_CVtuZ9i.csv")

In [3]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
test = pd.read_csv("D://great learning//supervised//loan prediction//test_Y3wMUE5_7gLdaTN.csv")

In [5]:
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [46]:
train.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [47]:
test.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [8]:
train.Gender.value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [10]:
train.Gender.fillna(value = "Male" , inplace=True)

In [11]:
test.Gender.fillna(value = "Male" , inplace=True)

In [15]:
train.Married.value_counts()

Yes    398
No     213
Name: Married, dtype: int64

In [16]:
train.Married.fillna(value = "Yes" , inplace = True)
test.Married.fillna(value = "Yes",inplace=True)

In [21]:
train.Dependents.value_counts()

0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64

In [22]:
train.Dependents.fillna(value = 0 , inplace=True)
test.Dependents.fillna(value=0,inplace=True)

In [25]:
train.Self_Employed.value_counts()

No     500
Yes     82
Name: Self_Employed, dtype: int64

In [27]:
train.Self_Employed.fillna(value = 500 , inplace = True)
test.Self_Employed.fillna(value = 500 , inplace = True)

In [32]:
train.LoanAmount.describe()

count    592.000000
mean     146.412162
std       85.587325
min        9.000000
25%      100.000000
50%      128.000000
75%      168.000000
max      700.000000
Name: LoanAmount, dtype: float64

In [34]:
train.LoanAmount.fillna(value = 128 , inplace=True)
test.LoanAmount.fillna(value = 128 , inplace = True)

In [38]:
train.Loan_Amount_Term.describe()

count    600.00000
mean     342.00000
std       65.12041
min       12.00000
25%      360.00000
50%      360.00000
75%      360.00000
max      480.00000
Name: Loan_Amount_Term, dtype: float64

In [40]:
train.Loan_Amount_Term.fillna(value = 360 , inplace = True)
test.Loan_Amount_Term.fillna(value = 360 , inplace = True)

In [43]:
train.Credit_History.value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [45]:
train.Credit_History.fillna(value = 1.0 , inplace=True)
test.Credit_History.fillna(value = 1.0 , inplace = True)

In [49]:
train.shape

(614, 13)

In [50]:
test.shape

(367, 12)

In [51]:
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier

In [52]:
sc = StandardScaler()

In [55]:
ohe_train = pd.get_dummies(train)
ohe_test = pd.get_dummies(test)

In [56]:
ohe_train.shape

(614, 638)

In [57]:
ohe_test.shape

(367, 389)

In [68]:
from sklearn.preprocessing import LabelEncoder

In [69]:
le=LabelEncoder()
train.Loan_Status=le.fit_transform(train.Loan_Status)

In [70]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban,1
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,1
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,1
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,1

In [131]:
newtrain = train.drop(["Loan_ID","Education","Married" , "Property_Area"],axis = 1)

In [132]:
newtest = test.drop(["Loan_ID","Education" , "Married","Property_Area"],axis = 1)

In [133]:
newtrain.head()

,Gender,Dependents,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
0,Male,0,No,5849,0.0,128.0,360.0,1.0,1
1,Male,1,No,4583,1508.0,128.0,360.0,1.0,0
2,Male,0,Yes,3000,0.0,66.0,360.0,1.0,1
3,Male,0,No,2583,2358.0,120.0,360.0,1.0,1
4,Male,0,No,6000,0.0,141.0,360.0,1.0,1

In [134]:
newtrain.shape

(614, 9)

In [135]:
newtest.head()

,Gender,Dependents,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,Male,0,No,5720,0,110.0,360.0,1.0
1,Male,1,No,3076,1500,126.0,360.0,1.0
2,Male,2,No,5000,1800,208.0,360.0,1.0
3,Male,2,No,2340,2546,100.0,360.0,1.0
4,Male,0,No,3276,0,78.0,360.0,1.0

In [128]:
newtest.shape

(367, 9)

In [136]:
newtrain.shape

(614, 9)

In [137]:
ohe_train = pd.get_dummies(newtrain)

In [138]:
ohe_test = pd.get_dummies(newtest)

In [139]:
ohe_train.shape

(614, 16)

In [140]:
ohe_test.shape

(367, 15)

In [141]:
from sklearn.preprocessing import StandardScaler

In [142]:
sc = StandardScaler()

In [144]:
x = pd.DataFrame(sc.fit_transform(ohe_train.drop("Loan_Status",axis = 1)))

In [147]:
scaled_test = pd.DataFrame(sc.fit_transform(ohe_test))

In [148]:
y = train.Loan_Status

In [149]:
from sklearn.model_selection import train_test_split

In [152]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.30 , random_state = 100)

In [153]:
from sklearn.tree import DecisionTreeClassifier

In [154]:
dtree  = DecisionTreeClassifier()

In [161]:
model  = dtree.fit(x,y)

In [162]:
model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [163]:
model_tree = model.predict(scaled_test)

In [164]:
model_tree

array([0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0])

In [165]:
from sklearn.metrics import accuracy_score , cohen_kappa_score , confusion_matrix,classification_report

In [168]:
sol = pd.DataFrame({"Loan_ID":test.Loan_ID , "Loan_Status":model_tree})

In [170]:
sol.head()

    Loan_ID  Loan_Status
0  LP001015            0
1  LP001022            1
2  LP001031            1
3  LP001035            0
4  LP001051            1

In [171]:
from sklearn.neighbors import KNeighborsClassifier

In [172]:
Kn =KNeighborsClassifier()

In [174]:
knn = Kn.fit(x,y)

In [176]:
model_knn = knn.predict(scaled_test)

In [177]:
model_knn

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1])

In [178]:
sol = pd.DataFrame({"Loan_ID":test.Loan_ID,"Loan_Status":model_knn})

In [179]:
sol.head()

    Loan_ID  Loan_Status
0  LP001015            1
1  LP001022            1
2  LP001031            1
3  LP001035            1
4  LP001051            1

In [181]:
import matplotlib.pyplot as plt
import seaborn as sns